@font-face {
  font-family: 'Ananda Namaste';
  src: url('./fonts/AnandaNamaste.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #EDE9CB;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centers container vertically */
}

.lcontainer {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background: #ffc68d3f;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height: 58vh;
}

.rcontainer {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background: #ffc68d3f;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height:63vh;
}

.logo-text {
  text-align: center;
  font-size: 50px;
  font-family: 'Ananda Namaste', cursive; /* Decorative font */
  color: #bfa937; /* Gold */
  margin-bottom: 30px;
  position: relative;
  margin-bottom: 60px;
}

/* underline effect */
/* .logo-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #bfa937;
  margin: 8px auto 0;
} */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

#entpss{
  margin-top: 10px;
}

button{
  display: flex;
  text-align: center;
  justify-content: center;
}

#login {
  width: 100%;
  padding: 12px;
  background-color: #BCAB3B;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 26px;
  height: 50px;
}

#loginwG {
  width: 100%;
  padding: 12px;
  background-color: transparent; /* better than #ffffff00 */
  color: #000000;
  font-size: 18px;
  border: 2px solid black;   /* border */
  border-radius: 6px;        /* rounded corners */
  cursor: pointer;
  margin-top: 50px;
  height: 48px;
}


#loginwP {
  width: 100%;
  padding: 12px;
  background-color: transparent; /* better than #ffffff00 */
  color: #000000;
  font-size: 18px;
  border: 2px solid black;   /* border */
  border-radius: 6px;        /* rounded corners */
  cursor: pointer;
  margin-top: 26px;
  height: 50px;
}

button:hover {
  background-color: #BCAB3B;
}

p{
  text-align: center;
  margin: 0;
  margin-top: 3px;
}

#to-signup,#to-login {
  margin-top: 20px;
  color: #000000;
  text-decoration: none;
}

#notremember{
  text-align: right;
  font-size: 15px;
  color: #000000;
  margin: -1px;
}

#notremember2{
  text-decoration: none;
  color: #000000;
}

#to-signup a:hover {
  text-decoration: underline;
}

#notremember a:hover {
  text-decoration: underline;
}
